@font-face {
  font-family: 'HakgyoansimGeurimilgiTTF-R';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimGeurimilgiTTF-R.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.contailner{
  font-family: 'HakgyoansimGeurimilgiTTF-R';
  font-size: 18px;
  width: 98vw;
  height: 99vh;
  display: flex;
}

.mainbar{
  background-color: #FCFAF8;
  width: 20vw;
  height: 100vh;
}

.content{
  /* border: 1px solid blue; */
  width: 80vw;
  padding: 50px;
}

.menu{
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.private{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.public{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.private > span:hover,
.public > span:hover{
  cursor: pointer;
  font-weight: 700;
}

.private > span.active{
  font-weight: bold;
}

span{
  cursor: pointer;
}


input , textarea , button{
  font-family: 'HakgyoansimGeurimilgiTTF-R';

}