@font-face {
  font-family: 'HakgyoansimGeurimilgiTTF-R';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimGeurimilgiTTF-R.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.private>p{
  font-family: 'PartialSansKR-Regular';
  font-size: 16px;
}

.contailner{
  font-family: 'HakgyoansimGeurimilgiTTF-R';
  font-size: 18px;
  width: 98vw;
  height: 99vh;
  display: flex;
}

.mainbar{
  background-color: #FCFAF8;
  width: 25vw;
  height: 100vh;
}

.content{
  /* border: 1px solid blue; */
  width: 72vw;
  padding: 50px;
}

.menu{
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.private{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.public{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.private > span:hover,
.public > span:hover{
  cursor: pointer;
  font-weight: 700;
}

.private > span.active{
  font-weight: bold;
}

span{
  cursor: pointer;
}


input , textarea , button{
  font-family: 'HakgyoansimGeurimilgiTTF-R';

}

h2{
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  /* background-color:  lightcoral; */
  color:black;
  font-weight: 900;
}