

.modal-div{
  padding: 12px;
  height: 30vh;
  border-radius: 10px;
}

.modal-div > input,
.modal-div textarea{
  border: none;
  outline: none;
  width: 35vw;
  background-color: lightblue;
  border-radius: 10px;
  padding: 12px;
  font-size: 1em;
}

.modal-div textarea{
  height: 16vh;
}

.modal-btn{
margin-top: 15px;
text-align: center;
}

.modal-btn button{
  margin-right: 5px;
  width: 5vw;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: lightseagreen;
  color: white;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 800;
}