.private > p:first-child{
  cursor: pointer;
}


.addicon > i{
  color: rgb(199, 37, 37);
  cursor: pointer;
}

.addicon > span{
  color: rgb(138, 138, 138);
  margin-left: 8px;
  cursor: pointer;
}

.addicon{
  margin-top: 35px;
}

.addTask-div{
  margin-top: 8px;
}

.addtask-text{
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 17px;
  width: 300px;
  margin-bottom: 10px;
}

.addtask-checkbox{
  zoom: 1.1;
}


.todo-button > button,
.addTask-div > button{
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  /* border: none; */
  margin-left: 5px;
  font-size: 1em;
}
.todo-button > button:hover,
.addTask-div > button:hover{
  background-color: #FCFAF8;
}


.todo-button > button{
  margin-top: 15px;
  margin-bottom: 10px;
}

.today-content{
  margin-top: 5px;
  padding: 2px;
}

 .task-content{
  margin-top: 10px;
}

.replyicon {
  margin-left: 15px;
}