
.calendar{
  width: 65vw;
}

.react-calendar{
  width: 100vw;
  height: 50vh;
  border: none;
  border: 1px solid grey;
  border-radius: 20px 20px 0 0;
}

/* 상단 년 월 */
.react-calendar__navigation {
  background: rgb(255, 152, 152);
  border-bottom: brown;
  height: 9vh;
  border-radius: 20px 20px 0 0;
  span {
    font-size: 1.6em;
    font-weight:800;
    color: brown;
  }
}

/* ?? */
.react-calendar__navigation button:disabled {
  background: lightcoral;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  color: white;
  background-color: rgb(255, 152, 152);
  border-radius: 20px 20px 0 0;
}


/* 월 달력 네비게이션 제외 */
.react-calendar__month-view {
  padding: 12px 10px;
  abbr {
  
    font-size: 1.5em;
    font-weight: 500;
  }
}

/*요일 */
.react-calendar__month-view__weekdays {
  abbr {
    color: brown;
    font-size: 1.5em;
    font-weight: 800;
  }
}

/* 일 (각 타일) */
.react-calendar__tile {
  text-align: center;
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: lightblue;
  border-radius: 14px;
}

/* 현재날짜 */
.react-calendar__tile--now {
  background: lightgoldenrodyellow;
  border-radius: 14px;
}

/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: lightblue;
  border-radius: 14px
}

/* .react-calendar__tile--active:after{
  font-family: FontAwesome;
  margin-top: 5px;
  content: "➕";
} */


.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}




/* 본문 */



.calendar-flex{
  display: flex;
  justify-content: flex-start;
  gap: 20px;

}

.calendar-content, 
.calendar{
  font-size: 1em;
  width: 23vw;
  height: 48vh;
  /* border: 1px solid black; */
}

.calendar-content{
  /* background-color: #FCFAF8; */
  padding: 10px;
}
.calendar-content >div > span:nth-child(1){
  margin-left: 20vw;
}
.calendar-content > div{
  /* background-color: #ffffff; */
  padding: 25px;
  border-radius: 25px;
  height: 22vh;
  /* font-size: 15px; */
}

.calendar-content i{
  margin-top: 20px;
}

.reactCalendar{
  position: relative;
}

.calendar-add{
  position: absolute;
  top:31vw;
  left: 41.5vw;
}

.calendar-add i{
  font-size: 1.6em;
  cursor: pointer;
}

.calendar-add i:hover{
  color: grey;
}